.chkColor {
  width: 100px;
  height: 30px;
  font-size: 15px;

  outline: none;
  padding-left: 10px;

  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1;

  border-radius: 10px;

  &:focus {
    background-color: #a5aa8b;
  }

  &:hover {
    background-color: #bbd631;
    transition: 0.3s;
  }

  &.size {
    width: 50px;
  }

  &.color {
    width: 100px;
  }
}

.item {
  margin: 20px;
}