.container{
  display: flex;
  flex-direction: column;
}

.title {
  margin-left: 20px;
  font-weight: bold;
}

.chkColor {
  width: 100px;
  height: 30px;
  font-size: 15px;

  outline: none;
  padding-left: 10px;

  border-width: 0px 0px 2px 0px;
  border-radius: 10px;

  &:focus {
    background-color: #f7f7d2;
  }

  &:hover {
    background-color: #eff0ae;
    transition: 0.3s;
  }

  &.size {
    width: 50px;
  }

  &.color {
    width: 100px;
  }
}

.item {
  margin: 20px;
}